[submodule "nixpkgs-channels"]
	path = nixpkgs
	url = https://github.com/adisbladis/nixpkgs.git
	branch = master
[submodule "home-adisbladis-nixpkgs/home-manager"]
	path = home-adisbladis-nixpkgs/home-manager
	url = https://github.com/rycee/home-manager
[submodule "overlays/nixpkgs-mozilla"]
	path = overlays/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "overlays/nixpkgs-trustedkey"]
	path = overlays/nixpkgs-trustedkey
	url = https://github.com/trustedkey/nixpkgs-trustedkey.git
