[submodule "third_party/nixpkgs"]
	path = third_party/nixpkgs
	url = https://github.com/adisbladis/nixpkgs.git
	branch = nixos-unstable
[submodule "third_party/impermanence"]
	path = third_party/impermanence
	url = https://github.com/nix-community/impermanence.git
[submodule "third_party/emacs-overlay"]
	path = third_party/emacs-overlay
	url = https://github.com/nix-community/emacs-overlay
[submodule "third_party/home-manager"]
	path = third_party/home-manager
	url = https://github.com/nix-community/home-manager.git
[submodule "third_party/crane"]
	path = third_party/crane
	url = https://github.com/ipetkov/crane.git
[submodule "third_party/gomod2nix"]
	path = third_party/gomod2nix
	url = https://github.com/nix-community/gomod2nix
