[submodule "home-adisbladis-nixpkgs/home-manager"]
	path = home-adisbladis-nixpkgs/home-manager
	url = https://github.com/rycee/home-manager
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/nixos/nixpkgs
[submodule "overlays/exwm-overlay"]
	path = overlays/exwm-overlay
	url = https://github.com/adisbladis/exwm-overlay.git
[submodule "home-adisbladis-nixpkgs/emacs-modes/nix-mode"]
	path = home-adisbladis-nixpkgs/emacs-modes/nix-mode
	url = https://github.com/NixOS/nix-mode.git
[submodule "overlays/local/pkgs/activated-tunnel"]
	path = overlays/local/pkgs/activated-tunnel
	url = https://github.com/adisbladis/activated-tunnel.git
[submodule "overlays/activated-tunnel"]
	path = overlays/activated-tunnel
	url = https://github.com/adisbladis/activated-tunnel.git
